<apex:page showHeader="false" sidebar="false">

	<div style="text-align:center;font-size: 25px;color: #4F94CD">
	        <apex:outputText value="Congratulation! You have installed Bulk Editor App" /> 
	</div>

	<div style="text-align:left;font-size: 18px; color: ##000000; padding-left:20px;">
        <apex:outputText value="Short Description:" /> 
	</div>
		<p style="font-size: 15px; padding-left:30px">Bulk Editor App is designed to simplify and ease the process of working with a large amount of different types of Configuration data in Salesforce, such as Custom Setings, Users etc. Bulk Editor App contains the implementation for Custom Settings. To get the implementation for User type records please install the CV_BEditUser package Plugin. Also you can develop your own Plugin using interface EditableElement </p>

	<div style="text-align:left;font-size: 18px; color: ##000000; padding-left:20px;">
        <apex:outputText value="Instruction:" /> 
	</div>
		<div style="font-size: 15px; padding-left:30px" >
			<ol>
			  <li>Select the Salesforce type needed for change</li>
			  <li>Change the available fields of records</li>
			  <li>Save changes for all Salesforce Configuration types</li>
			</ol> 
		</div>

	<div style="text-align:left;font-size: 18px; color: ##000000; padding-left:20px;">
        <apex:outputText value="To run the application, please, folow the link:" />
        <a href="/apex/PersistanceVisualforcePage?sfdc.tabName=CV_BulkEditor" target="_top" style="color:#4F94CD">Let's start</a> 
	</div>
	
</apex:page>